target
node_modules
dist
coverage
*.log
*.tmp
*.swp
*.swo

.trae
.vscode
.idea
.ccls-cache
.gdb_history
.eslintcache
.cache
Cargo.lock
.DS_Store

docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.vuepress/dist
docs/.vuepress/public/wasm/pkg
